.col{
    background-color: rgb(190, 187, 187);
}
.moneda{
    background-color: #E6F3FF;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.alt{
    background-color: #FFFFCC;
}